/templogs
/log.txt
/tools/Storage/verif_update.ini
/tools/toolbox/user_tools.txt
/tools/Hactool_based_programs/keys.txt
/tools/Hactool_based_programs/keys.dat
/tools/NSC_Builder/keys.txt
/tools/HacDiskMount/HacDiskMount.log
/HacDiskMount.log
/tools/sd_switch/AceOS
/tools/sd_switch/cheats
