/templogs
/downloads
/update_packages
/log.txt
/biskey.txt
/tools/Storage/verif_update.ini
/tools/toolbox/user_tools.txt
/tools/Hactool_based_programs/keys.txt
/tools/Hactool_based_programs/keys.dat
/tools/Hactool_based_programs/ChoiDuJour_keys.txt
/tools/NSC_Builder/keys.txt
/tools/HacDiskMount/HacDiskMount.log
/HacDiskMount.log
/tools/sd_switch/AceOS
/tools/sd_switch/cheats/profiles
/tools/sd_switch/mixed/profiles
/tools/sd_switch/atmosphere/switch/reboot_to_payload
/tools/sd_switch/reinx/switch/reboot_to_payload
/tools/sd_switch/sxos/switch/SX_Reboot
